@model ChessSharp.Web.Models.ExistingChallengeViewModel

@{
    ViewBag.Title = "Decide";
}

<h2>Accept or Deny a Challenge</h2>

@Scripts.Render("~/bundles/challenge-angular")

<hr />
<div class="form-horizontal" ng-app="csChallengeApp" ng-controller="ChallengeCtrl">

    <style>
        .challenge-buttons {
            width: 400px;
            display: block;
            position: relative;
            margin-bottom: 10px;
        }

            .challenge-buttons button {
                width: 170px;
            }

            .challenge-buttons .btn-success {
                float: left;
            }

            .challenge-buttons .btn-danger {
                float: right;
            }

            .challenge-buttons h4 {
                text-align: center;
            }
    </style>
    
    <div>
        <h3>
            Challenge from @(Model.Opponent.DisplayName): @Model.ChallengeTitle
        </h3>
        <h4>
            Your opponent's team: @Model.OpponentTeam.ToString()
        </h4>
    </div>
    <div class="challenge-buttons">
        <div style="height: 50px;">
            <button class="btn btn-success" ng-click="accept()">Accept</button>
            <button class="btn btn-danger" ng-click="decline()">Decline</button>
        </div>

        <div style="margin-top: 10px;">
            <h4 ng-show="challengeAccepted !== true && challengeAccepted !== false">Make your decison.</h4>
            <h4 ng-show="challengeAccepted === true">Challenge Accepted!</h4>
            <h4 ng-show="challengeAccepted === false">Challenge Declined...</h4>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <input class="check-box"
               data-val="true"
               data-val-required="The Accepted field is required."
               id="Accepted" name="Accepted"
               type="checkbox" value="true"
               ng-checked="challengeAccepted" style="display: none;">

        <input type="submit" value="Submit" class="btn btn-default" />
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
