@model ChessSharp.Web.Models.HistoricalGamesViewModel





<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Dark Player
        </th>
        <th>
           Light Player
        </th>
        <th>
            Result
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Games) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DarkPlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LightPlayerName)
        </td>
        <td>
            @(item.Win.HasValue ? item.Win.Value ? "Win" : "Loss" : "Draw")
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
